<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <system.runtime.serialization>
    <dataContractSerializer  >
      <!--<declaredTypes>
        <add type="System.Object, System">
          <knownType type="Northwind.Order, NorthWindService" />
        </add>
      </declaredTypes>-->
    </dataContractSerializer>
  </system.runtime.serialization>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enableMetaData">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
       <service name="Northwind.NorthwindService" behaviorConfiguration="enableMetaData" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8999/" />
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="webHttpBehavior"
              binding="webHttpBinding" contract="Northwind.INorthwindService" />
      </service>    
    </services>
  </system.serviceModel>
    <connectionStrings>      
        <add name="northwind"
            connectionString="server=.;database=northwind;integrated security=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>