<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="northwind"
        connectionString="server=.;database=northwind;integrated security=true;"
        providerName="System.Data.SqlClient" />
    <add name="ExpressionSerialization.Properties.Settings.NorthwindConnectionString2" connectionString="Data Source=dlinq_srv5;Initial Catalog=Northwind;Persist Security Info=True;User ID=dbi;Password=!Password1" providerName="System.Data.SqlClient"/>
    <add name="ExpressionSerialization.Properties.Settings.NORTHWNDConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NORTHWND.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
