<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="TestHarness.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=NORTHWND.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
    <add name="TestHarness.Properties.Settings.NorthwindConnectionString" 
            connectionString="server=.;database=northwind;integrated security=true;"
         providerName="System.Data.SqlClient" />
    
    <add name="northwind"
         connectionString="server=.;database=northwind;integrated security=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="BasicHttpBinding_IService1">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="10485760" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="debuggingBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="100000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:22630/Service/NorthwindService.svc" behaviorConfiguration="debuggingBehaviour" binding="customBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.INorthwindService" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
