<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="RemoteQueryService.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=NORTHWND.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />-->
      <add name="RemoteQueryService.Properties.Settings.NORTHWNDConnectionString"
            connectionString="server=.;database=northwind;integrated security=true;"
        providerName="System.Data.SqlClient" />
      <!--<add name="northwind"
        connectionString="server=.;database=northwind;integrated security=true;"
        providerName="System.Data.SqlClient" />
      <add name="ExpressionSerialization.Properties.Settings.NorthwindConnectionString2" connectionString="Data Source=dlinq_srv5;Initial Catalog=Northwind;Persist Security Info=True;User ID=dbi;Password=!Password1" providerName="System.Data.SqlClient"/>
      <add name="ExpressionSerialization.Properties.Settings.NORTHWNDConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NORTHWND.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INorthwindService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22630/Service/NorthwindService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INorthwindService"
                contract="ServiceReference.INorthwindService" name="BasicHttpBinding_INorthwindService" />
        </client>
    </system.serviceModel>
</configuration>