<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthwindMapping.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=dlinq_srv5;Initial Catalog=Northwind;Persist Security Info=True;User ID=dbi;Password=!Password1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>